<!DOCTYPE html>
<html lang="en-us" ng-app="ToDo">
  <head>
    <style>
      .done{text-decoration: line-through; color: #ccc;}
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="app.js"></script>
    <!-- retrieve Gcal -->
    <script type="text/javascript" src="g_cal.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>
  </head>
  <body>
    <div class="container row">
      <div class="page-header col-md-6">
        <h1>To Do List</h1>
        <div ng-controller="todoController">
          <form name="form" ng-submit="addItem()">
            <input type="text" name="newItem" ng-model="newItem" required>
            <button class="btn btn-md btn-primary" ng-disabled="form.$invalid">Add!</button>
          </form>
          <button ng-click="clearCompleted()" class="btn btn-md btn-warning">clear complete</button>
          <ul>
            <li ng-repeat="todo in todos">
              <input type="checkbox" ng-model="todo.done"></input>
              <span ng-class="{'done':todo.done}">{{todo.title}}</span>
            </li>
          </ul>
        </div>
      </div>


    <div id="authorize-div" style="display: none" class="col-md-6">
      <span>Authorize access to Google Calendar API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <button id="authorize-button" onclick="handleAuthClick(event)">
        Authorize
      </button>
    </div>
    <pre id="output"></pre>

    </div>

  </body>
</html>